<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="CustomInfra.Injector.Simple" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <CustomInfra.Injector.Simple>
    <add key="StartNameAssembly" value="" />
  </CustomInfra.Injector.Simple>



</configuration>